body{
  background: var(--color-bg);
}

.weather__position{
  display: flex;
}

.weather__position-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 6%;
}