.weather__hours {
    box-sizing: border-box;
    
    background: #4F7AA0;
    /* M3/sys/light/outline-variant */
    
    border: 1px solid #CAC4D0;
    border-radius: 12px;
    
}


/* JGN KACAU */
.weather__hours-container {

        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin: 16px;
        box-sizing: border-box;
}

.box_under{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}


.text_undercontainer{

    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 18px;

    padding-left: 69px;
    isolation: isolate;

    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
    margin-left: 5;
  }


  