.weather__daycards {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather__daycards-animation{
  margin-left: -5px;

  -webkit-animation: weather__daycards-animation 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: weather__daycards-animation 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes weather__daycards-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}
@keyframes weather__daycards-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}


.weather__daycards-container {
  display: flex;
  justify-content: center;
  height: 177px;
  width: 177px;
  margin: 10px;
  padding-right: 0px;

  background: var(--color-daycards-normal);

  border: 1px solid #cac4d0;
  border-radius: 12px;
  transition: padding-right 600ms cubic-bezier(.05,.43,.25,.95);
}

.weather__daycards-container.active {
  display: flex;
  justify-content: center;

  height: 177px;
  width: 177px;
  margin: 10px;

  background: var(--color-daycards-active);

  border: 1px solid #cac4d0;
  border-radius: 12px;
  transition: padding-right 600ms cubic-bezier(.05,.43,.25,.95);
}

.weather__daycards-container_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather__daycards-container_text p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 22px;
}

.weather__daycards-desc{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.weather__daycards-desc p{
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 14px;

  margin-left: 22px;
  margin-top: -14px;
  margin-bottom: 0px;
  margin-right: 22px;
}

.weather__daycards-info {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -10px;
}

.weather__daycards-info img {
  width: 45%;
  height: 42%;
}

.weather__daycards-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 5px;
}

/* Small Screen; Eg: Laptop */

@media screen and (max-width: 1024px){
  .weather__daycards{
    display: flex;
    flex-direction: column;
  }
  .weather__daycards-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 180px;
  }
  .weather__daycards-container.active{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 180px;
  }
}

/* Ipads Tablets */

@media screen and (max-width: 769px){
  .weather__daycards{
    display: flex;
    flex-direction: row;
  }
  .weather__daycards-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 180px;
  }
  .weather__daycards-container.active{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 180px;
  }
}

@media screen and (max-width: 481px){
  .weather__daycards-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 150px;
    width: 220px;
  }
  .weather__daycards-container.active{
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 150px;
    width: 220px;
  }
  .weather__daycards-container_text{
    margin-top: 0px;
  }
}