.weather__days {
    display: flex;
    flex-direction:column;
}

.weather__days-container {
    display: flex;
    flex: 1;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}