.weather__infoextend{
    display: flex;
}

.weather__infoextend-container{
    display: flex;
    flex-direction: column;
    padding-left: 11px;
}

.weather__infoextend-text{
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 15px;
}